$gray-300: #8D8D8D;

.triangle_icon {
  top: -10px;
  right: 5px;
  @include triangle;
  &::after {
    top: -12px;
    right: -37px;
    @include triangle;
  }
  &::before {
    top: -12px;
    right: -65px;
    @include triangle;
  }
}
.prev_icon {
  @include triangle_page;
  border-right: 10px solid $gray-300;
  left: -16px;
}
.next_icon {
  @include triangle_page;
  border-left: 10px solid $gray-300;
  right: -18px;
}