.triangle_icon {
  position: absolute;
  top: 0px;
  right: 5px;
  content: '';
  @include triangle;
  &::after {
    position: absolute;
    top: -9.5px;
    right: 25px;
    content: '';
    @include triangle;
  }
  &::before {
    position: absolute;
    top: -9.5px;
    right: 5px;
    content: '';
    @include triangle;
  }
}